@{
    ViewData["Title"] = "Home Page";
}

<p></p>
<div class="card">
    <div class="card-header">
        Board Job
    </div>
    <div class="card-body" id="List_Job">
        
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detail">
            </div>            
        </div>
    </div>
</div>

    <script>
    $(function () {
        List_Job();
    });


    function List_Job() {
        $.get("@Url.Action("Jobs","Home")",
            function (list) {
                $("#List_Job").html(list);
                Show_New_Job();
                Show_Edit_Job();
                Show_Detail_Job();
                Delete_Job();
        });
    }

    function Show_New_Job() {
        $("#Form_New_Job").click(function () {
            $.get("@Url.Action("NewJob","Home")",
                function (form) {
                    $("#exampleModalLabel").text("New Job");
                    $("#detail").html(form);
                    Save_New_Job();
            });
        });
    }

    function Save_New_Job() {
        $("#Save_New_Job").click(function () {
            var datos = $("#NewJob").serializeAnything();
            $.post("@Url.Action("NewJob","Home")",
                datos ,
                function (result) {
                    $("#detailModal").modal("hide");
                    $("#detail").html("");
                    List_Job();
                    alertify.success(result);
                });
        });
    }

    function Show_Edit_Job() {
        $("a.show_edit_job").each(function (index) {
            $("a.show_edit_job").eq(index).click(function () {
                var id = $("input.id_job").val();
                $.get("@Url.Action("Job","Home")", { id: id }, function (form) {
                    $("#exampleModalLabel").text("Edit Job");
                    $("#detail").html(form);
                    Edit_Job();
                });
            });
        });
    }

    function Show_Detail_Job() {
        $("a.show_detail_job").each(function (index) {
            $("a.show_detail_job").eq(index).click(function () {
                var id = $("input.id_job").val();
                $.get("@Url.Action("DetailJob","Home")", { id: id }, function (form) {
                    $("#exampleModalLabel").text("Detail Job");
                    $("#detail").html(form);
                    Edit_Job();
                });
            });
        });
    }

    function Edit_Job() {
        $("#Update_Job").click(function () {
            var datos = $("#Detail_Job").serializeAnything();
            $.post("@Url.Action("UpdateJob", "Home")",
                datos ,
                function (result) {
                    $("#detailModal").modal("hide");
                    $("#detail").html("");
                    List_Job();
                    alertify.success(result);
                });
        });
        }

        function Delete_Job() {
            $("a.show_delate_job").each(function (index) {
            $("a.show_delate_job").eq(index).click(function () {
                var id = $("input.id_job").val();
                $.get("@Url.Action("DelateJob","Home")", { id: id }, function (result) {
                    alertify.success(result);
                    List_Job();
                });
            });
        });
    }

    </script>