@model IEnumerable<simple_job.Models.job>

<p>
    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#detailModal" id="Form_New_Job">Create New Job</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <input type="hidden" value="@item.Id" class="id_job" />
                <a href="#" class="btn btn-info show_edit_job" data-toggle="modal" data-target="#detailModal">Edit</a>
                <a href="#" class="btn btn-info show_detail_job" data-toggle="modal" data-target="#detailModal">Detail</a>
                <a href="#" class="btn btn-danger show_delate_job">Delate</a>
            </td>
        </tr>
}
    </tbody>
</table>
